body {
    background-image: url("images/monopoly.jpg");
    margin: 0;
    /*font-size: 0;*/
}

.gameBoard {
    width: 85%;
    height: 100vh;
    position: relative;
    display: inline-block;
}
.green {
    color: darkgreen;
    font-family: bold;
    font-size: x-large;
}

.yellow {
    color: yellow;
    font-family: bold;
    font-size: x-large;
}

.red {
    color: darkred;
    font-family: bold;
    font-size: x-large;
}

.navy {
    color: navy;
    font-family: bold;
    font-size: x-large;
}

.orange {
    color: orangered;
    font-family: bold;
    font-size: x-large;
}

.pink {
    color: plum;
    font-family: bold;
    font-size: x-large;
}

.purple {
    color: purple;
    font-family: bold;
    font-size: x-large;
}

.lightBlue {
    color: dodgerblue;
    font-family: bold;
    font-size: x-large;
}

.tax,
.taxCity,
.chanceComm,
.chest1Comm,
.train {
    font-family: bold;
    font-size: x-large;
}





/*.tax {*/
    /*background-image: url("images/income.jpg");*/
    /*max-width: 100%;*/
    /*max-height: 100%;*/

/*}*/

/*.innerBoard {*/
    /*width: 65%;*/
    /*height: 65%;*/
    /*background-color: aliceblue;*/
    /*border: none;*/
    /*margin: 0 auto;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/

/*}*/

.innerBoard {
    width: 100%;
    height: 100%;
}

.bottomCont {
    display: flex;
    flex-direction: row-reverse;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 17.5%;
    text-align: center;
}

.bottomCont > div {
    width: 15%;
    margin: 1px;
    background-color: lightgreen;

}

.topCont {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    position: absolute;
    width: 100%;
    top: 0;
    height: 17.5%;
    text-align: center;
}

.topCont > div {
    width: 15%;
    margin: 1px;
    background-color: lightgreen;

}

.leftColumn {
    /*display: inline-flex;*/
    flex-direction: column;
    background-color: #6a6969;
    top: 17.5%;
    height: 28%;
    width: 16.5%;
    position: relative;
    text-align: center;

}

.leftColumn > div {
   background-color: aliceblue;
    margin: 1px;
    width: 100%;
    height: 28.5%;

}
.rightColumn {
    display: flex;
    flex-direction: column;
    background-color: #6a6969;
    top: 17.6%;
    height: 64.5%;
    width: 16.5%;
    position: absolute;
    right: 0;
    text-align: center;


}




.rightColumn > div {
    background-color: aliceblue;
    margin: 1px;
    width: 100%;
    height: 16.5%;
}

.middle {
    position: relative;
    width: 15%;
    top: 50%;
    left: 44%;
    display: inline-block;

}
/*.community,*/
/*!*.chance {*!*/
    /*!*border: 1px dodgerblue;*!*/
    /*!*background-color: #d42551;*!*/
/*!*}*!*/


#dice1, #dice2, #dice3, #dice4, #dice5, #dice6 {
    width: 50px;
}

@-webkit-keyframes bounce {
    0% {
        transform: scale(1,1) translate(0px, 0px);
    }
    30%{
        transform: scale(1,0.8) translate(0px, 10px);
    }
    75%{
        transform: scale(1,1.1) translate(0px, -25px);
    }
    100% {
        transform: scale(1,1) translate(0px, 0px);
    }
}

.bounce {
    text-align:center;
    margin: 0;
    /*margin-top:100px;*/
    height:20px;
    width:100px;
    padding:20px;
    /*background:tomato;*/
    -webkit-animation: bounce 1.3s infinite;
    cursor: pointer;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
}

.ironManAm {
    border: 4px solid red;
    color: red;
    font-weight: bold;
}

.capAm {
    border: 4px solid blue;
    color: red;
    font-weight: bold;
}

.thorAm {
    border: 4px solid Grey;
    color: red;
    font-weight: bold;
}

.hulkAm {
    border: 4px solid green;
    color: red;
    font-weight: bold;
}

#player_area{
    height: 650px;
    width: 15%;
    border: 1px solid black;
    align-content: center;
    border-radius: 8px;
    position: fixed;
    display: inline-block;
}

.modalDiv{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    color: darkblue;
    font-size: 25px;
    font-weight: bold;
    background-color: dimgrey;
    text-align: center;
    border-radius: 10px;
    border: 3px solid black;
}

.hide{
    display:none;
}

/*.player_area {*/
    /*!*position: absolute;*!*/
    /*!*right: 2%;*!*/
     /*width: 10%;*/
    /*!*top: 15%;*!*/
    /*display: inline-block;*/
    /*border: 2px solid red;*/

/*}*/

.start {
    /*margin-bottom: 20px;*/
}