.gameBoard {
    width: 85%;
    height: 100vh;
    background-color: fuchsia;
    position: relative;
}

/*.innerBoard {*/
    /*width: 65%;*/
    /*height: 65%;*/
    /*background-color: aliceblue;*/
    /*border: none;*/
    /*margin: 0 auto;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/

/*}*/

.innerBoard {
    width: 100%;
    height: 100%;
}

.bottomCont {
    display: flex;
    flex-direction: row-reverse;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 17.5%;
}

.bottomCont > div {
    width: 15%;
    margin: 1px;
    background-color: #515151;

}

.topCont {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    position: absolute;
    width: 100%;
    top: 0;
    height: 17.5%;
}

.topCont > div {
    width: 15%;
    margin: 1px;
    background-color: gray;

}

.leftColumn {
    display: flex;
    flex-direction: column;
    background-color: #6a6969;
    top: 17.6%;
    height: 64.5%;
    width: 17.5%;
    position: relative;

}

.leftColumn > div {
   background-color: aliceblue;
    margin: 1px;
    width: 100%;

}
.rightColumn {
    display: flex;
    flex-direction: column;
    background-color: #6a6969;
    top: 17.6%;
    height: 64.5%;
    width: 17.5%;
    position: absolute;
    right: 0;

}

.leftColumn > div {
    background-color: aliceblue;
    margin: 1px;
    width: 100%;
}



#dice1, #dice2, #dice3, #dice4, #dice5, #dice6 {
    width: 50px;
}

@-webkit-keyframes bounce {
    0% {
        transform: scale(1,1) translate(0px, 0px);
    }
    30%{
        transform: scale(1,0.8) translate(0px, 10px);
    }
    75%{
        transform: scale(1,1.1) translate(0px, -25px);
    }
    100% {
        transform: scale(1,1) translate(0px, 0px);
    }
}

.bounce {
    text-align:center;
    margin:0 auto;
    /*margin-top:100px;*/
    height:20px;
    width:100px;
    padding:20px;
    background:tomato;
    -webkit-animation: bounce 1.3s infinite;
    cursor: pointer;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
}

.currentSquare {
    border: 4px solid red;
    color: red;
    font-weight: bold;
    
}